<div class="container" *ngIf="weatherData">

  <div class="upper-section">
    <img src="../assets/hot-image.jpeg" alt="hot-image" *ngIf="weatherData.main.temp > 15">
    <img src="../assets/cold-image.jpg" alt="cold-image" *ngIf="weatherData.main.temp <= 15">
    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature">{{weatherData.main.temp | number: '1.0-0'}}°C</div>
    </div>
  </div>


  <div class="lower-section">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <!-- Minimum temperature block -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.svg" alt="minimum-temperature">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min | number: '1.0-0'}}°C
        </div>
      </div>
      <!-- Maximum temperature block -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.svg" alt="maximum-temperature">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max | number: '1.0-0'}}°C
        </div>
      </div>
      <!-- Humidity block -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.svg" alt="humidity">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}} %
        </div>
      </div>
      <!-- Wind speed block -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.svg" alt="wind-speed">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}} km/h
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>