<div class="container">


  <div class="upper-section">
    <img src="../assets/hot-image.jpeg" alt="hot-image" *ngIf="14 > 15">
    <img src="../assets/cold-image.jpg" alt="cold-image" *ngIf="14 <= 15">
    <div class="weather-data">
      <div class="location">London</div>
      <div class="temperature">{{14.50 | number: '1.0-0'}}°C</div>
    </div>
  </div>


  <div class="lower-section"></div>
  <div class="more-info-label">More Information</div>
  <div class="more-info-container">
    <!-- Minimum temperature block -->
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/min.svg" alt="minimum-temperature">
        <span>min</span>
      </div>
      <div class="info-block-value">
        10°C
      </div>
    </div>
    <!-- Maximum temperature block -->
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/max.svg" alt="maximum-temperature">
        <span>max</span>
      </div>
      <div class="info-block-value">
        20°C
      </div>
    </div>
    <!-- Humidity block -->
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/humidity.svg" alt="humidity">
        <span>humidity</span>
      </div>
      <div class="info-block-value">
        77%
      </div>
    </div>
    <!-- Wind speed block -->
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/wind.svg" alt="wind-speed">
        <span>min</span>
      </div>
      <div class="info-block-value">
        40km/h
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>